*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  min-height: 100vh;
  margin-top: 20px;
  background-color: tan;
}
form{
  width: 350px;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid black;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  background: transparent;
}

.foot{
  background-color: thistle;
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: center;
}

