body{
    margin: 0;
    padding: 0;
}

.header-1{
    background-color: rgb(186, 128, 186);
    padding: 10px;
}

.header-1>nav>a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.header-1>select{
    margin-left: 10px;
}